<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main">
    <form action="/patient/update" method="POST" style="display: block;">
        <fieldset>
            <legend>Patient Details</legend>
            <label>Hospital District</label>
            <input type="text" name="hospitalDistrict" value="{{hospitalDistrict}}" readonly>
            <br>
            <label>Hospital Name</label>
            <input type="text" name="hospitalName" value="{{hospitalName}}" readonly>
            <br>
            <label>Patient ID</label>
            <input type="text" name="patientID" value="{{patientID}}" readonly>
            <br>
            <label>Patient Name</label>
            <input type="text" name="patientName" placeholder="Name of patient" value="{{patientName}}">
            <br>
            <label>Date of Birth (yymmdd format)</label>
            <input type="text" name="dob" placeholder="Patient's date of birth in yymmdd format" value="{{dob}}">
            <br>
            <label>Contact Numbers</label>
            <input type="text" name="contactNo" placeholder="Patient mobile or telephone numbers" value="{{contactNo}}">
            <br>
            <label>Address</label>
            <input type="text" name="address" placeholder="Patient address" value="{{address}}">
            <br>
            <label>Birth Parent Name</label>
            <input type="text" name="parentName" placeholder="Name of one of the patient's birth parents" value="{{parentName}}">
            <br>
            <label>Govt. ID No.</label>
            <input type="text" name="govtID" placeholder="Any Govt. ID number" value="{{govtID}}">
            <br>
            <label>Hospital Section</label>
            <input type="text" name="hospitalSection" placeholder="General, Epidemic, Cardiology, etc. Leave blank for out-patient." value="{{hospitalSection}}">
        </fieldset>
        <br>
        <input type="submit" value="Update">
    </form>
</div>