<div id="main">
    <form action="/" method="POST">
        <fieldset>
            <legend>Hospital Client</legend>
            <label>District</label>
            <input name="district" type="text">
            <br>
            <label>Name</label>
            <input name="hospitalName" type="text">
            <br>
            <label>Private Key</label>
            <input name="privateKey" type="text">
            <br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>