<!DOCTYPE html>
<html>
  <head>
    <title>Hospital Client</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/main.js' defer></script>
  </head>
  <body>
  {{{body}}}
  </body>
</html>
