<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main">
    <form action="/" method="GET">
        <fieldset>
            <legend>Welcome</legend>
            <input type="button" value="Patient Section" onclick="location.href = '/patient'">
        </fieldset>
    </form>    
</div>