<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main">
    <div>
        <fieldset>
            <legend>New Patient</legend>
            <input type="button" value="Add NEW Patient" onclick="location.href = '/patient/add'"><br>
        </fieldset>
        <br>
        <fieldset>
            <legend>Existing Patient</legend>
            <label id="emergencyLabel">Emergency Case</label>
            <input type="radio" name="emergency" value="true" id="yes" onclick="isEmergency(true);"><label for="yes">Yes</label>
            <input type="radio" name="emergency" value="false" id="no" onclick="isEmergency(false);"><label for="no">No</label>
            <br>
            <div id="emergencyDiv" style="display: none;">
                <label>Patient's Hospital District</label>
                <input type="text" id="district" placeholder="District of patient's hospital"><br>
                <label>Patient's Hospital Name</label>
                <input type="text" id="hospitalName" placeholder="Name of patient's hospital"><br>
                <label>Patient's ID</label>
                <input type="text" id="patientID" placeholder="Patient's ID"><br>
            </div>
            <div id="nonEmergencyDiv" style="display: none;">
                <label>Patient Name</label>
                <input type="text" id="patientName" placeholder="Enter Patient's name"><br>
                <label>Date of Birth (yymmdd format)</label>
                <input type="text" id="dob" placeholder="Patient's date of birth in yymmdd format"><br>
                <label>Birth Parent Name</label>
                <input type="text" id="parentName" placeholder="Name of one of the patient's birth parents"><br>
            </div>
            <input type="button" value="View / Update patient details" onclick="viewPatient('info');"><br>
            <input type="button" value="Add / Update patient VISIT details" onclick="viewPatient('visits');"><br>
            <input type="button" value="Add / Update patient TEST details" onclick="viewPatient('tests');"><br>
        </fieldset>
    </div>
</div>