<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main">
    <form action="/patient/visits/update" method="POST">
        <fieldset>
            <legend>Visit Details</legend>
            <label>Date</label>
            <input type="text" name="visitDate" value="{{visitDate}}" readonly>
            <br>
            <label>Reason</label>
            <input type="text" name="visitReason" placeholder="Reason of visit" value="{{visitReason}}">
            <br>
            <label>Action</label>
            <input type="text" name="visitAction" placeholder="Consultation details" value="{{visitAction}}">
            <br>
            <input type="submit" value="Update">
            <input type="hidden" name="patientVisitAddress" value="{{patientVisitAddress}}">
            <input type="hidden" name="visitID" value="{{visitID}}">
        </fieldset>
    </form>    
</div>