<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main">
    <form action="/patient/visits/add" method="POST">
        <fieldset>
            <legend>Visit Details</legend>
            <label>Date</label>
            <input type="text" name="visitDate" placeholder="Date of visit in yymmdd format">
            <br>
            <label>Reason</label>
            <input type="text" name="visitReason" placeholder="Reason of visit">
            <br>
            <label>Action</label>
            <input type="text" name="visitAction" placeholder="Consultation details">
            <br>
            <input type="submit" value="Submit">
            <input type="hidden" id="patientAddress" name="patientAddress" value="">
        </fieldset>
    </form>    
</div>
<script>

const urlParams = new URLSearchParams(window.location.search);
document.getElementById('patientAddress').value = urlParams.get('address');

</script>