<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main">
    <form action="/patient/tests/update" method="POST">
        <fieldset>
            <legend>Test Details</legend>
            <label>Date</label>
            <input type="text" name="testDate" value="{{testDate}}" readonly>
            <br>
            <label>Type</label>
            <input type="text" name="testType" placeholder="Type of test" value="{{testType}}">
            <br>
            <label>Results</label>
            <input type="text" name="testResult" placeholder="Test Results" value="{{testResult}}">
            <br>
            <label>Related Files</label>
            <input type="text" name="testFilesURL" placeholder="IPFS URL linking digital copies of test results" value="{{testFilesURL}}">
            <br>
            <input type="submit" value="Update">
            <input type="hidden" name="patientTestAddress" value="{{patientTestAddress}}">
            <input type="hidden" name="testID" value="{{testID}}">
        </fieldset>
    </form>    
</div>