<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main">
    <form action="/patient/tests/add" method="POST">
        <fieldset>
            <legend>Tests Details</legend>
            <label>Date</label>
            <input type="text" name="testDate" placeholder="Date of test in yymmdd format">
            <br>
            <label>Type</label>
            <input type="text" name="testType" placeholder="Type of test">
            <br>
            <label>Results</label>
            <input type="text" name="testResult" placeholder="Test Results">
            <br>
            <label>Related Files</label>
            <input type="text" name="testFilesURL" placeholder="IPFS URL linking digital copies of test results">
            <br>
            <input type="submit" value="Submit">
            <input type="hidden" id="patientAddress" name="patientAddress" value="">
        </fieldset>
    </form>    
</div>
<script>

const urlParams = new URLSearchParams(window.location.search);
document.getElementById('patientAddress').value = urlParams.get('address');

</script>