<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main" style="flex-direction: column;">
        <fieldset style="margin-bottom: 20px;">
            <legend>Patient Details</legend>
                <label>Hospital Name: </label>
                <input type="text" name="hospitalName" value="{{hospitalName}}" readonly>
                <br>
                <label>Hospital Pincode: </label>
                <input type="text" name="hospitalPincode" value="{{hospitalPincode}}" readonly>
                <br>
                <label>Patient ID: </label>
                <input type="text" name="patientID" value="{{patientID}}" readonly>
                <br>
                <label>Patient Name: </label>
                <input type="text" name="patientName" value="{{patientName}}" readonly>
                <br>
                <label>Date of Birth (yymmdd format): </label>
                <input type="text" name="dob" value="{{dob}}" readonly>
                <br>
                <label>Birth Parent Name: </label>
                <input type="text" name="parentName" value="{{parentName}}" readonly>
                <br>
                <label>Contact Numbers</label>
                <input type="text" name="contactNo" value="{{contactNo}}" readonly>
                <br>
                <label>Address</label>
                <input type="text" name="address" value="{{address}}" readonly>
                <br>
                <label>Govt. ID No.</label>
                <input type="text" name="govtID" value="{{govtID}}" readonly>
        </fieldset>
        <input type="button" value="Add Test details" onclick="addTest();">
        <table>
            <tr>
                <th>Date</th>
                <th>Test</th>
                <th>Results</th>
                <th>Files</th>
                <th></th>
            </tr>
            {{#tests}}
            <tr>
                <td>{{testDate}}</td>
                <td>{{testType}}</td>
                <td>{{testResult}}</td>
                <td>{{testFilesURL}}</td>
                <td><a href='/patient/tests/update?address={{patientTestAddress}}&testID={{testID}}'>Update</a></td>
            </tr>
            {{/tests}}
        </table>
</div>
<script>

function addTest() {
    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('address');
    location.href = '/patient/tests/add?address=' + myParam;    
}

</script>