<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main" style="flex-direction: column;">
        <fieldset style="margin-bottom: 20px;">
            <legend>Patient Details</legend>
                <label>Hospital Name: </label>
                <input type="text" name="hospitalName" value="{{hospitalName}}" readonly>
                <br>
                <label>Hospital Pincode: </label>
                <input type="text" name="hospitalPincode" value="{{hospitalPincode}}" readonly>
                <br>
                <label>Patient ID: </label>
                <input type="text" name="patientID" value="{{patientID}}" readonly>
                <br>
                <label>Patient Name: </label>
                <input type="text" name="patientName" value="{{patientName}}" readonly>
                <br>
                <label>Date of Birth (yymmdd format): </label>
                <input type="text" name="dob" value="{{dob}}" readonly>
                <br>
                <label>Birth Parent Name: </label>
                <input type="text" name="parentName" value="{{parentName}}" readonly>
                <br>
                <label>Contact Numbers</label>
                <input type="text" name="contactNo" value="{{contactNo}}" readonly>
                <br>
                <label>Address</label>
                <input type="text" name="address" value="{{address}}" readonly>
                <br>
                <label>Govt. ID No.</label>
                <input type="text" name="govtID" value="{{govtID}}" readonly>
        </fieldset>
        <input type="button" value="Add Visit details" onclick="addVisit();">
        <table>
            <tr>
                <th>Date</th>
                <th>Reason</th>
                <th>Action</th>
                <th></th>
            </tr>
            {{#visits}}
            <tr>
                <td>{{visitDate}}</td>
                <td>{{visitReason}}</td>
                <td>{{visitAction}}</td>
                <td><a href='/patient/visits/update?address={{patientVisitAddress}}&visitID={{visitID}}'>Update</a></td>
            </tr>
            {{/visits}}
        </table>
</div>
<script>

function addVisit() {
    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('address');
    location.href = '/patient/visits/add?address=' + myParam;    
}

</script>