<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main">
    <form action="/patient/add" method="POST">
        <fieldset>
            <legend>Patient Details</legend>
            <label id="emergencyLabel">Emergency Case</label>
            <input type="radio" name="emergency" value="true" id="yes" onclick="isEmergency(true);"><label for="yes">Yes</label>
            <input type="radio" name="emergency" value="false" id="no" onclick="isEmergency(false);"><label for="no">No</label>
            <div id="nonEmergencyDiv" style="display: none;">
                <label>Patient Name</label>
                <input type="text" id="patientName" placeholder="Name of patient">
                <br>
                <label>Date of Birth (yymmdd format)</label>
                <input type="text" id="dob" placeholder="Patient's date of birth in yymmdd format">
                <br>
                <label>Contact Numbers</label>
                <input type="text" id="contactNo" placeholder="Patient mobile or telephone numbers">
                <br>
                <label>Address</label>
                <input type="text" id="address" placeholder="Patient address">
                <br>
                <label>Birth Parent Name</label>
                <input type="text" id="parentName" placeholder="Name of one of the patient's birth parents">
                <br>
                <label>Govt. ID No.</label>
                <input type="text" id="govtID" placeholder="Any Govt. ID number">
            </div>
            <div id="emergencyDiv" style="display: none;">
                <label>Patient ID</label>
                <input type="text" id="patientID" placeholder="Patient ID given by hospital">
            </div>
            <br>
            <label>Hospital Section</label>
            <input type="text" id="hospitalSection" placeholder="General, Epidemic, Cardiology, etc. Leave blank for out-patient.">
            <br>
            <input type="button" value="Submit" onclick="patientAddSubmit();">
        </fieldset>
    </form>    
</div>
<script>
  // Connecting to events server
  var eventsWorking;
  const connection = new WebSocket('ws:localhost:80');
  connection.onopen = () => {
      connection.send(JSON.stringify({
          eventType: 'hospital/addedRoutinePatient',
          filters:[
            {key: 'privateKey', matchString: document.cookie.substr(document.cookie.indexOf('privateKey=')+11,64), filterType: 'SIMPLE_ANY'}
          ]
      }));
  }
  connection.onerror = (error) => {
    console.log(`WebSocket error: ${error}`);
    eventsWorking = false;
  }
  connection.onmessage = (e) => {
    let eDataObj = JSON.parse(e.data);
    if(eDataObj.status && eDataObj.status !== 0 || eDataObj.status !== 1) {
      eventsWorking = false;
    }
    if(eDataObj.eventType && eDataObj.eventType === 'hospital/addedRoutinePatient') {
      let dataMatch = true;
      for(let attribute of eDataObj.attributes) {
        if(attribute.key !== 'publicKey' && document.getElementById(attribute.key).value !== attribute.value) {
          dataMatch = false;
        }
      }
      if(dataMatch) {
        alert('The patient data has successfully been committed to the blockchain.');
        location.href = '/patient';
      }
    }
  }

function patientAddSubmit() {    
  try {
    let body = {};
    if(document.getElementById('no').checked) {
      body.emergency = 'false';
      body.patientName = document.getElementById('patientName').value;
      body.dob = document.getElementById('dob').value;
      body.contactNo = document.getElementById('contactNo').value;
      body.address = document.getElementById('address').value;
      body.parentName = document.getElementById('parentName').value;
      body.govtID = document.getElementById('govtID').value;
      body.hospitalSection = document.getElementById('hospitalSection').value;
    }
    if(document.getElementById('yes').checked) {
      body.emergency = 'true';
      body.patientID = document.getElementById('patientID').value;
      body.hospitalSection = document.getElementById('hospitalSection').value;
    }        
    fetch('/patient/add', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(body)
    })
    .then(res=>res.json())
    .then(resJson=>{
      if(resJson.status == '202') {
        if(eventsWorking === false) {
          alert('Patient details submitted.');
          location.href = '/patient';
        } else {
          alert('Patient details submitted.\n You will be alerted when it is COMMITTED to the blockchain.');
        }
      }
    });
  } catch (error) {
      console.error('Error:', error);
  }
}

function isInPatient(bool) {
    if(bool) {
        document.getElementById('hospitalSectionLabel').style.visibility = 'visible';
        document.getElementById('hospitalSection').style.visibility = 'visible';
    } else {
        document.getElementById('hospitalSectionLabel').style.visibility = 'hidden';
        document.getElementById('hospitalSection').style.visibility = 'hidden';
        document.getElementById('hospitalSection').value = '';
    }
}
</script>