<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main">
    <form action="/patient/update" method="POST" style="display: block;">
        <fieldset>
            <legend>Patient Details</legend>
                <label>Patient Name: </label>
                <input type="text" name="patientName" value="{{patientName}}" readonly>
                <br>
                <label>Date of Birth (yymmdd format): </label>
                <input type="text" name="dob" value="{{dob}}" readonly>
                <br>
                <label>Birth Parent Name: </label>
                <input type="text" name="parentName" value="{{parentName}}" readonly>
                <br>
                <label>Contact Numbers</label>
                <input type="text" name="contactNo" placeholder="Patient mobile or telephone numbers" value="{{contactNo}}">
                <br>
                <label>Address</label>
                <input type="text" name="address" placeholder="Patient address" value="{{address}}">
                <br>
                <label>Govt. ID No.</label>
                <input type="text" name="govtID" placeholder="Any Govt. ID number" value="{{govtID}}">
                <br>
                <label>Hospital Section</label>
                <input type="text" id="hospitalSection" placeholder="General, Epidemic, Cardiology, etc. Leave blank for out-patient." value="{{hospitalSection}}">
        </fieldset>
        <br>
        <input type="submit" value="Update">
    </form>
</div>