<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main">
    <form action="/hospital/add" method="POST">
        <fieldset>
            <legend>Hospital Details</legend>
            <label>Name</label>
            <input type="text" name="hospitalName" placeholder="Name of hospital">
            <br>
            <label>Contact Details</label>
            <input type="text" name="contactNo" placeholder="Hospital email, telephone numbers, etc">
            <br>
            <label>Address</label>
            <input type="text" name="address" placeholder="Hospital address">
            <br>
            <label>District</label>
            <input type="text" name="district" placeholder="Hospital district">
            <br>
            <label>Hospital Registration No.</label>
            <input type="text" name="registrationNo" placeholder="Hospital Registration number">
            <br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>    
</div>