<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact No.</th>
                <th>Address</th>
                <th>District</th>
                <th>Registration</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#hospitals}}
            <tr>
                <td>{{hospitalName}}</td>
                <td>{{contactNo}}</td>
                <td>{{address}}</td>
                <td>{{district}}</td>
                <td>{{registrationNo}}</td>
                <td><a href="/hospital/update?address={{hospitalStateAddress}}">Update</a></td>
                <td><a href="/hospital/delete?address={{hospitalStateAddress}}">Delete</a></td>
            </tr>
            {{/hospitals}}
        </tbody>
    </table>
</div>