<div id="nav">
    <a href="/" onclick="logout();">Logout</a>
</div>
<div id="main">
    <div>
        <fieldset>
            <legend>New Hospital</legend>
            <input type="button" value="Add NEW Hospital" onclick="location.href = '/hospital/add'"><br>
        </fieldset>
        <br>
        <fieldset>
            <legend>Existing Hospital</legend>
            <label>Hospital District</label>
            <input type="text" id="district" placeholder="District of hospital"><br>
            <label>Hospital Name</label>
            <input type="text" id="hospitalName" placeholder="Name of hospital"><br>
            {{!-- <input type="button" value="View / Update / Delete hospital" onclick="location.href = '/hospital/view'"> --}}
            <input type="button" value="View / Update / Delete hospital" onclick="viewHospitals()"><br>
            <input type="button" value="Epidemic Report" onclick="viewEpidemicReport()">
        </fieldset>
    </div>
</div>
<script>

function viewHospitals() {
    let url = '/hospital/view?district=' + document.getElementById('district').value + '&hospitalName=' + document.getElementById('hospitalName').value;
    location.href = url;
}

function viewEpidemicReport() {
    let url = '/hospital/epidemicReport?district=' + document.getElementById('district').value + '&hospitalName=' + document.getElementById('hospitalName').value;
    location.href = url;
}

</script>