<div id="main">
    <form action="/" method="POST">
        <fieldset>
            <legend>NON-Hospital Client</legend>
            <label for="privateKey" class="field">
                Private Key
                <input id="privateKey" name="privateKey" type="text">
            </label>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>